# Github Node.js Template

lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

pids
logs
results

npm-debug.log

# Application

Knab\ transactieoverzicht\ betaalrekening* knab.in.csv
knab.in.csv
ynab.out.csv